{{#grid-masonry}}
  <div class="grid-sizer"></div>
  <div class="grid-item grid-item-12">
    <div class="bordered">
      <h3>Health</h3>
      <p>Overview of general financial health</p>
      <div>
        <h5>Criteria</h5>
        <ul>
          <li>
            Adherence to budgets: based on transaction history
          </li>
          <li>
            Engagement with savings and investments
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item grid-item-4">
    <div class="bordered">
      <h3>Accounts</h3>
      <p>Overview of relevant statuses on accounts</p>
      <div>
        <h5>Usage</h5>
        <ul>
          <li>
            Accounts pending some action
          </li>
          <li>
            Priorty alerts about an account and budget
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="grid-item">
    <div class="bordered">
      <h3>Profile</h3>
      <p>Overview of notifications from the service</p>
      <div>
        <h5>Usage</h5>
        <ul>
          <li>
            User action required
          </li>
          <li>
            Updates to feature, pricing, and etc
          </li>
          <li>
            Calls to action for relevant features and oppertunuties
          </li>
        </ul>
      </div>
    </div>
  </div>
{{/grid-masonry}}