<div class="section">
  <div class="" role="main">
    <div class="container ">
      <div class="row">
        <div class="columns small-12 large-4">
          <div class="padding-vertical-3">
            <h1>Sign In</h1>
            {{#form-for LoginModel submit=(action "signIn") as |f|}}
              {{f.email-field "email"}}
              {{f.password-field "password" autocomplete=true}}

              {{f.submit "Sign In" classNames=""}}
            {{/form-for}}
            <div class="margin-1">
              <div class="padding-1">
                <a id="" class="lead" href="#">I forgot my account information?</a>
              </div>
            </div>
          </div>
        </div>
        <div class="columns large-6 show-for-large hide-for-small-only">
          <div class="padding-vertical-3">
            <h1>Get an Account</h1>
            <p class="lead">An email address and a solid password are all you need to get on the road financial health:</p>
            <ul>
              <li>Design long-term financial goals</li>
              <li>Save and spend with with helpful tools</li>
              <li>Make priority based budgets</li>
            </ul>
            <div>
              {{#link-to "index"}}
                Learn More
              {{/link-to}}
            </div>
            <div class="">
              <a class="button" href="#">Get you free account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>